* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #cad7fda4;
    max-width: 100%;
    overflow-x: hidden;
}

header {
    height: 100px;
    width: 100vw;
    padding: 0 35px;
    background-color: white;
    position: fixed;
    z-index: 100;
    box-shadow: 1px 1px 10px rgba(161, 182, 253, 0.825);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-popup {
    display: none;
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
    justify-content: flex-end;
}

.popup-content-header {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 290px;
}

ul li {
    list-style-type: none;
}

.header-profile {
    padding-left: 20px;
    padding-top: 5px;
}

.profile-settings {
    display: flex;
    padding: 7px 0;
    align-items: center;
}

.profile-settings h3 {
    font-size: 17px;
    padding-left: 15px;
}

.icon-profile {
    width: 29px;
}

.dash-logo {
    height: 70px;
    cursor: pointer;
}

.dash-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-icon {
    height: 41px;
    cursor: pointer;
}

.admin-profile {
    height: 41px;
    cursor: pointer;
    margin-right: 25px;
}

.main-container {
    display: flex;
    width: 100vw;
    position: relative;
    top: 100px;
    z-index: 1;
}

.dashboard-main {
    height: calc(100vh - 100px);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 40px 30px 30px 30px;
}

.dashboard-main::-webkit-scrollbar-thumb,
.popup::-webkit-scrollbar-thumb {
    background-image:
        linear-gradient(to bottom, rgb(0, 0, 85), rgb(0, 0, 50));
}

.dashboard-main::-webkit-scrollbar,
.popup::-webkit-scrollbar {
    width: 7px;
}

.dashboard-main::-webkit-scrollbar-track,
.popup::-webkit-scrollbar-track {
    background-color: #9e9e9eb2;
}

.nav-main {
    min-height: 87vh;
    width: 250px;
    background-color: #ffffff;
    position: absolute;
    top: 0px;
    left: 00;
    box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px 0 20px 10px;
}

.nav-body {
    height: calc(100vh - 100px);
    width: 250px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
}

.nav-body::-webkit-scrollbar {
    display: none;
}

.nav-option {
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 30px 0 20px;
    gap: 20px;
    transition: all 0.1s ease-in-out;
}

.nav-option:hover {
    border-left: 7px solid #a2a2a2;
    background-color: #dadada;
    cursor: pointer;
}

.navclose {
    width: 80px;
}

.option-icon {
    height: 31px;
}

.option-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

a {
    text-decoration: none;
    color: black;
}

.option-container h3 {
    font-weight: bolder;
    font-size: 21px;
}

/* category popup */

.popup {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 2rem;
}

.add-category-popup,
.add-game-popup,
.add-admin-popup {
    position: absolute;
    min-height: 230px;
    width: 35%;
    margin: 0 39% 25px;
    background-color: #ffffff;
    overflow: auto;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    padding: 0px 20px 0px 20px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

span {
    color: #fa0b0b
}

.category-main,
.suggestion-main {
    min-height: 300px;
    max-width: 70%;
    margin: 35px auto 0px auto;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    padding: 0px 20px 20px 20px;
}

.games-main,
.dashboard-body {
    min-height: 300px;
    max-width: 1200px;
    margin: 35px auto 0px auto;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    padding: 0px 20px 20px 20px;
}

.users-header,
.admin-header,
.category-header,
.games-header,
.suggestion-header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px 20px;
    border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}

.add-category-header,
.add-game-header,
.add-admin-header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}

.category-popup-button,
.admin-popup-button,
.game-popup-button {
    height: 35px;
    width: 110px;
    border-radius: 8px;
    background-color: #5500cb;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.add-game-title,
.category-title,
.users-title,
.admin-title,
.games-title,
.add-category-title,
.add-admin-title,
.suggestion-title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #5500cb;
}

.add-game-field,
.add-category-field,
.add-admin-field {
    width: 100%;
    overflow: visible;
    margin: 21px 0;
    font-weight: bold;
}

.add-game-field input,
.add-game-field select,
.add-category-field input,
.add-game-field textarea,
.add-admin-field input {
    font-weight: 100;
    font-size: 15px;
    width: 100%;
    padding: 9px 10px;
    background-color: white;
    border: 1px solid black;
    color: black;
}

.add-game-button button,
.add-category-button button,
.add-admin-button button {
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    margin-bottom: 15px;
    background: rgb(0, 116, 228);
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
    border-radius: 15px;
}

.add-admin-button button:hover,
.add-category-button button:hover,
.add-game-button button:hover {
    background: rgb(0, 140, 228);
}

.admin-popup-button:hover,
.game-popup-button:hover,
.category-popup-button:hover {
    background: #7011f5;
}


.btn {
    font-size: 14px;
    background-color: darkcyan;
    border: 0;
    border-radius: 4px;
    color: white;
    padding: 3px 3px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn--danger {
    background-color: orangered;
}

.btn--key {
    background-color: green;
}

/* Dashboard */

.box-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 50px;
}

.box {
    height: 200px;
    width: 370px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    padding: 17px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background-color: white;
}

.box:hover {
    transform: scale(1.08);
}

.box img {
    height: 85px;
}

.box .text {
    color: black;
    font-size: 20px;
}

.users-body,
.admin-body,
.category-body,
.game-body,
.suggestion-body {
    max-width: 1160px;
    overflow-x: auto;
    padding: 20px;
}

table {
    width: 100%;
}

th,
td {
    text-align: start;
    padding: 0px 13px 11px 0px;
}

.tdsno,
.tdaction,
.thsno,
.thaction,
.th_game_price,
.th_release_date,
.th_category,
.tdreleasedate,
.tdgameprice,
.tdcategory,
.thadmin,
.adminid,
.thuserid,
.thsuggestion,
.tduserid,
.tdsuggestion {
    text-align: center;
}

.game_photo {
    width: 125px;
    border-radius: 7px;
}

/* Edit admin start */

.edit-admin-container {
    background-color: white;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    color: black;
    padding: 60px;
    margin: 15px auto;
    max-width: 40%;
    text-align: center;
    height: auto;
    border-radius: 30px;
}

.edit-admin-form {
    padding: 20px 0 0;
}

.edit-admin-field {
    width: 100%;
    overflow: visible;
    margin: 30px 0;
}

.edit-admin-field input {
    padding-left: 10px;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    padding: 20px 10px;
    background-color: white;
    border: 1px solid black;
    color: black;
    box-sizing: border-box;
}

.edit-admin-form button {
    margin-top: 30px;
    width: 100%;
    background: rgb(0, 116, 228);
    color: white;
    border: none;
    padding: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 15px;
}

.edit-admin-form button:hover {
    background: rgb(0, 140, 228);
}

/* Edit admin end */

/* Change Password Start */

.change-psw-container {
    background-color: white;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    color: black;
    padding: 60px;
    margin: 15px auto;
    width: 40%;
    text-align: center;
    height: auto;
    border-radius: 30px;
}

.change-psw-field {
    width: 100%;
    overflow: visible;
    margin: 30px 0;
}

.change-psw-field input {
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    padding: 20px 0px 20px 10px;
    background-color: white;
    border: 1px solid black;
    color: black;
    box-sizing: border-box;
}

.change-psw button {
    font-weight: bold;
    font-size: 15px;
    margin-top: 30px;
    width: 100%;
    background: rgb(0, 116, 228);
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.change-psw button:hover {
    background: rgb(0, 140, 228);
}

.change-psw-a a {
    color: black;
    text-decoration: none;
    padding: 10px 0;
    cursor: pointer;
}

.change-psw-a {
    margin: 20px 0;
}

.change-psw-a:hover {
    text-decoration: underline;
}

/* Change Password End */


.order-main {
    min-height: 300px;
    max-width: 900px;
    margin: 35px auto;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    padding: 0px 20px 20px 20px;
}

.order-header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 10px 0px;
    border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}

.order-title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #5500cb;
}

.order-body {
    max-width: 1160px;
    overflow-x: auto;
    padding: 20px;
}

.game-item {
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.game-photo {
    width: auto;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}

.game-details {
    display: contents;
    flex: 1;
    justify-content: space-between;
    text-align: start;
    gap: 20px;
}

.game-info,
.game-cost {
    flex: 1;
}

.game-info p,
.game-cost p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

.order-table {
    width: 100%;
}

.order-table th,
.order-table td {
    text-align: center;
    padding: 0px 25px 11px 25px;
}