* {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    user-select: none;
}

body {
    background-color: black;
    color: white;
}

/* Header Start */

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

header {
    width: 100%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(16, 16, 20);
}

.logo {
    width: 45%;
    padding-left: 20px;
}

.logo img {
    padding: 15px 0;
    width: 25%;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
}

.search-bar {
    width: 100%;
    height: 35px;
    max-width: 400px;
    background-color: transparent;
    border: 2px solid rgba(225, 225, 225, 0.2);
    display: flex;
    align-items: center;
    border-radius: 13px;
}

.nav-bar .search-bar input {
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    color: white;
    padding: 0 20px;
    font-size: 15px;
}

.nav-bar .search-bar input::placeholder {
    color: white;
}

.nav-bar .search-bar button img {
    width: 15px;
}

.nav-bar .search-bar button {
    border: 0;
    border-radius: 50%;
    width: 35px;
    padding-right: 10px;
    background: transparent;
    cursor: pointer;
}

.nav-bar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    width: 100%;
}

.nav-bar ul li {
    width: 20%;
    text-align: center;
}

.nav-bar a:hover {
    font-size: 20px;
    transition: 0.3s;
}

/* Header End */

/* Sign In Start */
.sign-in-container {
    background-color: rgb(32, 32, 32);
    color: white;
    padding: 60px;
    margin: 5% 30%;
    width: 30%;
    text-align: center;
    height: 500px;
}

.sign-in-form {
    padding: 20px 0;
}

.sign-in-field {
    width: 100%;
    overflow: visible;
    margin: 30px 0;
}

.sign-in-a a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
    cursor: pointer;
}

.sign-in-a {
    margin: 20px 0;
}

.sign-in-a a:hover {
    text-decoration: underline;
}

.sign-in-field input {
    width: 100%;
    padding: 20px 0;
    background-color: rgb(32, 32, 32);
    border: 1px solid gray;
    color: white;
}

.sign-in-form button {
    margin-top: 30px;
    width: 100%;
    background: rgb(0, 116, 228);
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
}

.sign-in-form button:hover {
    background: rgb(0, 140, 228);
}

/* Sign In End */

/* Sign Up Start */
.sign-up-container {
    background-color: rgb(32, 32, 32);
    color: white;
    padding: 60px;
    margin: 5% 30%;
    width: 30%;
    text-align: center;
    height: 680px;
}

.sign-up-form {
    padding: 20px 0;
}

.sign-up-field {
    width: 100%;
    overflow: visible;
    margin: 30px 0;
}

.sign-up-field input {
    width: 100%;
    padding: 20px 0;
    background-color: rgb(32, 32, 32);
    border: 1px solid gray;
    color: white;
}

.sign-up-field input::placeholder {
    padding-left: 10px;
}

.sign-up-form button {
    margin-top: 30px;
    width: 100%;
    background: rgb(0, 116, 228);
    color: white;
    border: none;
    padding: 20px;
    margin-bottom: 30px;
}

.sign-up-form button:hover {
    background: rgb(0, 140, 228);
}

.sign-up-a {
    padding: 10px 0;
}

.sign-up-a a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
    cursor: pointer;
}

.sign-up-a a:hover {
    text-decoration: underline;
}

/* Sign Up End */

/* Footer Start */
footer {
    background-color: rgb(16, 16, 20);
    display: flex;
}

.footer-container {
    width: 100%;
    padding: 70px 30px 20px;
}

.footer-icons {
    display: flex;
    justify-content: center;
}

.footer-icons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 25%;
}

.footer-icons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.footer-icons a:hover {
    background-color: rgb(16, 16, 20);
}

.footer-icons a:hover i {
    color: white;
}

.footer-nav {
    margin: 30px 0;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
}

.footer-end p {
    text-align: center;
}

.footer-nav ul li a {
    color: white;
    margin: 25px;
    cursor: pointer;
}

.footer-nav ul li a:hover {
    text-decoration: underline;
}

.footer-logo {
    width: 100%;
    text-align: center;
}

.footer-logo img {
    width: 10%;
}

/* Footer End */