* {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    user-select: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #cad7fda4;
    max-width: 100%;
    overflow-x: hidden;
}

/* Header Start */

ul li {
    list-style-type: none;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

header {
    height: 100px;
    width: 100vw;
    padding: 0 35px;
    background-color: white;
    position: fixed;
    z-index: 100;
    box-shadow: 1px 1px 10px rgba(161, 182, 253, 0.825);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    width: 100vw;
    position: relative;
    top: 100px;
    z-index: 1;
}

.main-container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.logo {
    width: 45%;
    padding-left: 20px;
}

.logo img {
    padding: 15px 0;
    width: 25%;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    width: 250px;
    height: 37px;
    border-radius: 50px 0 0 50px;
    background-color: #ededed;
    padding: 0 20px;
    font-size: 15px;
    outline: none;
    border: none;
}

.search-button {
    width: 55px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 50px 50px 0px;
    background-color: #0c007d;
    cursor: pointer;
}

.search-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-icon {
    height: 27px;
}

.nav-bar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    width: 100%;
}

.nav-bar ul li {
    width: 20%;
    font-size: larger;
    text-align: center;
}

.nav-bar a:hover {
    font-size: 20px;
    transition: 0.3s;
}

.profile-icon,
.cart-icon {
    width: 35px;
}

.popup {
    display: none;
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
    justify-content: flex-end;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 225px;
}

.profile {
    padding-left: 20px;
    padding-top: 5px;
}

.profile-settings {
    display: flex;
    padding: 7px 0;
    align-items: center;
}

.profile-settings h3 {
    font-size: 17px;
    padding-left: 15px;
}

.icon-profile {
    width: 29px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    color: black;
}


/* Header End */

/* Banner Start */

.index-container {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

.index-banner {
    padding: 50px;
    height: 100%;
    align-items: center;
}

.index-banner img {
    width: 35%;
}

.index-banner h1 {
    font-size: 45px;
}

.index-banner p {
    font-size: 25px;
}

.index-banner button {
    margin-top: 30px;
    width: 15%;
    background: rgb(0, 116, 228);
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.index-banner a button {
    color: white;
    font-size: 15px;
}

.index-banner button:hover {
    background: rgb(0, 140, 228);
}

/* Banner Ends */

/* About Us Part Start */

.about-us {
    width: 100%;
    padding: 70px 0;
}

.about-us img {
    height: auto;
    width: 370px;
    filter: drop-shadow(0 0 20px rgba(161, 182, 253, 0.825));
}

.about-us-text {
    width: 800px;
}

.about-us-main {
    margin: 0 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-us h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 35px;
}

.about-us h5 {
    text-align: center;
    font-size: 35px;
    margin-top: 35px;
    letter-spacing: 5px;
}

.about-us-text p {
    letter-spacing: 1px;
    line-height: 35px;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 35px;
}

/*About  Us End */

/* Sign In Start */
.sign-in-container {
    background-color: white;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    color: black;
    padding: 60px;
    margin: 15px auto;
    width: 30%;
    text-align: center;
    height: auto;
    border-radius: 30px;
}

.sign-in-form {
    padding: 20px 0;
}

.sign-in-field {
    width: 100%;
    overflow: visible;
    margin: 30px 0;
}

.sign-in-a a {
    color: black;
    text-decoration: none;
    padding: 10px 0;
    cursor: pointer;
}

.sign-in-a {
    margin: 20px 0;
}

.sign-in-a a:hover {
    text-decoration: underline;
}

.sign-in-field input {
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    padding: 20px 0px 20px 10px;
    background-color: white;
    border: 1px solid black;
    color: black;
    box-sizing: border-box;
}

.sign-in-form button {
    margin-top: 30px;
    width: 100%;
    background: rgb(0, 116, 228);
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
}

.sign-in-form button:hover {
    background: rgb(0, 140, 228);
}

/* Sign In End */

/* Sign Up Start */
.sign-up-container {
    background-color: white;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    color: black;
    padding: 60px;
    margin: 15px auto;
    max-width: 30%;
    text-align: center;
    height: auto;
    border-radius: 30px;
}

.sign-up-form {
    padding: 20px 0;
}

.error-msg {
    color: red;
}

.sign-up-field {
    width: 100%;
    overflow: visible;
    margin: 30px 0;
}

.sign-up-field input {
    padding-left: 10px;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    padding: 20px 10px;
    background-color: white;
    border: 1px solid black;
    color: black;
    box-sizing: border-box;
}

.sign-up-form button {
    margin-top: 30px;
    width: 100%;
    background: rgb(0, 116, 228);
    color: white;
    border: none;
    padding: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

.sign-up-form button:hover {
    background: rgb(0, 140, 228);
}

.sign-up-a {
    padding: 10px 0;
}

.sign-up-a a {
    color: black;
    text-decoration: none;
    padding: 10px 0;
    cursor: pointer;
}

.sign-up-a a:hover {
    text-decoration: underline;
}

/* Sign Up End */

/* Footer Start */
footer {
    background-color: white;
    box-shadow: 1px 1px 10px rgba(161, 182, 253, 0.825);
    display: flex;
}

.footer-container {
    width: 100%;
    padding-bottom: 20px;
}

.footer-icons {
    display: flex;
    justify-content: center;
}

.footer-icons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 25%;
}

.footer-icons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.footer-icons a:hover {
    background-color: white;
}

.footer-icons a:hover i {
    color: rgb(0, 116, 228);
}

.footer-nav {
    margin: 30px 0;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
}

.footer-end p {
    text-align: center;
}

.footer-nav ul li a {
    color: black;
    margin: 25px;
    cursor: pointer;
}

.footer-nav ul li a:hover {
    text-decoration: underline;
}

.footer-logo {
    width: 100%;
    text-align: center;
}

.footer-logo img {
    width: 10%;
}

/* Footer End */

/* Forgot Password Start */

.forgot-psw-container {
    background-color: white;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    color: black;
    padding: 60px;
    margin: 15px auto;
    width: 30%;
    text-align: center;
    height: 450px;
    border-radius: 30px;
}

.forgot-psw-form {
    padding: 20px 0;
}

.forgot-psw-field {
    width: 100%;
    overflow: visible;
    margin: 30px 0;
}

.forgot-psw-field input {
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    padding: 20px 10px;
    background-color: white;
    border: 1px solid black;
    color: black;
    box-sizing: border-box;
}

.forgot-psw-form button {
    margin-top: 30px;
    width: 100%;
    background: rgb(0, 116, 228);
    color: white;
    border: none;
    padding: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

.forgot-psw-form button:hover {
    background: rgb(0, 140, 228);
}

.forgot-psw h1 {
    margin-bottom: 30px;
}

.forgot-psw-sign-in-a a {
    color: black;
    text-decoration: none;
    padding: 10px 0;
    cursor: pointer;
}

.forgot-psw-sign-in-a {
    margin: 20px 0;
}

.forgot-psw-sign-in-a a:hover {
    text-decoration: underline;
}

/* Forgot Password End */

/* Games Start */

.category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0px;
}

.category-slider {
    position: relative;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
}

.slider {
    overflow: hidden;
    width: 100%;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-track .category a {
    color: white;
}

.category {
    flex: 0 0 25%;
    text-align: center;
    padding: 20px;
    background: #007BFF;
    color: white;
    border: 1px solid #ddd;
    border-radius: 25px;
    box-sizing: border-box;
    cursor: pointer;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    z-index: 10;
}

.arrow.previous {
    left: 10px;
}

.arrow.next {
    right: 10px;
}

.game-container {
    min-height: 230px;
    max-width: 1200px;
    margin: 15px auto;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    padding: 10px;
    transition: 0.3s;
    display: flex;
}

.media-container {
    position: relative;
    width: 350px;
    height: 230px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
    border-radius: 25px;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 25px;
}

.game-container:hover .image {
    opacity: 0;
}

.game-container:hover .video {
    opacity: 1;
    animation: playVideo 0.1s forwards;
}

@keyframes playVideo {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.game-container:hover {
    transform: scale(1.05);
}

.game-info {
    width: 100%;
}

.game-title {
    text-align: center;
}

.game-description p {
    padding: 0px 25px
}

.game-cart {
    display: flex;
    justify-content: flex-end;
    padding: 5px 15px;
    margin-right: 10px;
}

.cost {
    margin-right: 15px;
    background-color: rgb(188, 188, 188);
    padding: 5px 9px;
}

.game-cart a button {
    border: none;
    background-color: rgb(0, 116, 228);
    color: white;
    padding: 5px 9px;
    cursor: pointer;
}

.game-cart a button:hover {
    background: rgb(0, 140, 228);
}

/* Games Ends */


/* Cart Start*/

.games-main {
    min-height: 300px;
    max-width: 900px;
    margin: 35px auto;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    padding: 0px 20px 20px 20px;
}

.games-header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 10px 0px;
    border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}

.games-title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #5500cb;
}

.game-cart-body {
    max-width: 1160px;
    overflow-x: auto;
    padding: 20px;
}

table {
    width: 100%;
}

th,
td {
    text-align: start;
    padding: 0px 65px 11px 0px;
}

.thsno,
.thaction,
.thphoto,
.th_game_price,
.tdsno,
.tdaction,
.tdgameprice {
    text-align: center;
}

.checkout {
    display: flex;
    justify-content: flex-end;
}

.checkout button:hover {
    background-color: #690fe6;
}

.checkout p {
    padding-right: 50px;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    color: #5500cb;
}

.remove {
    height: 35px;
    width: 110px;
    border-radius: 8px;
    background-color: #5500cb;
    color: white;
    font-size: 15px;
    border: none;
    margin-right: 45px;
    cursor: pointer;
}

.check-out {
    height: 35px;
    width: 110px;
    border-radius: 8px;
    background-color: #5500cb;
    color: white;
    font-size: 15px;
    border: none;
    margin-right: 45px;
    cursor: pointer;
}

.games-cart-photo {
    width: 125px;
    border-radius: 7px;
}

/* Cart End */

/* Change Password Start */

.change-psw-container {
    background-color: white;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    color: black;
    padding: 60px;
    margin: 15px auto;
    width: 30%;
    text-align: center;
    height: auto;
    border-radius: 30px;
}

.change-psw-field {
    width: 100%;
    overflow: visible;
    margin: 30px 0;
}

.change-psw-field input {
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    padding: 20px 0px 20px 10px;
    background-color: white;
    border: 1px solid black;
    color: black;
    box-sizing: border-box;
}

.change-psw button {
    font-weight: bold;
    font-size: 15px;
    margin-top: 30px;
    width: 100%;
    background: rgb(0, 116, 228);
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
}

.change-psw button:hover {
    background: rgb(0, 140, 228);
}

.change-psw-a a {
    color: black;
    text-decoration: none;
    padding: 10px 0;
    cursor: pointer;
}

.change-psw-a {
    margin: 20px 0;
}

.change-psw-a:hover {
    text-decoration: underline;
}

/* Change Password End */

/* Suggestion Start */

.suggestion-container {
    background-color: white;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    color: black;
    padding: 60px;
    margin: 15px auto;
    width: 30%;
    text-align: center;
    height: auto;
    border-radius: 30px;
}

.suggestion-field {
    width: 100%;
    overflow: visible;
    margin: 30px 0;
}

.suggestion-field textarea {
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    padding: 20px 0px 20px 10px;
    background-color: white;
    border: 1px solid black;
    color: black;
    box-sizing: border-box;
}

.suggestion button {
    font-weight: bold;
    font-size: 15px;
    margin-top: 30px;
    width: 100%;
    background: rgb(0, 116, 228);
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
}

.suggestion button:hover {
    background: rgb(0, 140, 228);
}

/* Suggestion End */

/* Edit Profile Start */

.edit-profile-container {
    background-color: white;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    color: black;
    padding: 60px;
    margin: 15px auto;
    max-width: 30%;
    text-align: center;
    height: auto;
    border-radius: 30px;
}

.edit-profile-form {
    padding: 20px 0;
}

.edit-profile-field {
    width: 100%;
    overflow: visible;
    margin: 30px 0;
}

.edit-profile-field input {
    padding-left: 10px;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    padding: 20px 10px;
    background-color: white;
    border: 1px solid black;
    color: black;
    box-sizing: border-box;
}

.edit-profile-form button {
    margin-top: 30px;
    width: 100%;
    background: rgb(0, 116, 228);
    color: white;
    border: none;
    padding: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 15px;
}

.edit-profile-form button:hover {
    background: rgb(0, 140, 228);
}

/* Edit Profile End */

/* Payment start */

.payment-option {
    min-height: 300px;
    max-width: 340px;
    margin: 35px auto;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    padding: 0px 20px 20px 20px;
}

.payment-header {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #5500cb;
}

.available-system,
.not-available-system {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 10px 0px;
    border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}

.payment {
    padding: 10px;
}

/* Payment end */


/* Payment Success start */

.pay-success-container {
    text-align: center;
    margin: 113px auto;
    width: 400px;
    padding: 20px 0px 10px 0px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);

}

/* Payment Success start */


/* Order History Start */

.order-main {
    min-height: 300px;
    max-width: 830px;
    margin: 35px auto;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    padding: 0px 20px 20px 20px;
}

.order-header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 10px 0px;
    border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}

.order-title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #5500cb;
}

.order-body {
    max-width: 1160px;
    overflow-x: auto;
    padding: 20px;
}

.th_sno,
.th_tuuid,
.th_amt,
.th_status,
.th_games,
.th_time,
.td_sno,
.td_tuuid,
.td_amt,
.td_status,
.td_games,
.td_time {
    text-align: center;
}

.game-item {
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.game-photo {
    width: auto;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}

.game-details {
    display: contents;
    flex: 1;
    justify-content: space-between;
    gap: 20px;
}

.game-info,
.game-cost {
    flex: 1;
}

.game-info p,
.game-cost p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}



/* Order History End */